.bag-extend {display: block; position: fixed; top: 0; right: -80%; width: 780px; background-color: #fff; height: 100vh; z-index: 9999; transition: right .4s;}
.bag-extend.on {display: block; right: 0; transition: right .4s;}
.bag-extend .control {width: 100%; height: fit-content; display: flex; justify-content: space-between; margin-bottom: 40px; padding: 5% 5% 0 5%;}
.bag-extend .control p {font-size: 12px; height: auto;}
.bag-extend .control p:last-of-type {font-weight: bold; cursor: pointer;}

.bag-box {width: 100%; display: flex; flex-flow: row wrap; height: 550px; overflow-y: scroll; padding: 0 5%;}

.bag-item {width: 100%; display: flex; flex-flow: row wrap; height: 160px; margin-bottom: 5px;}
.bag-item:last-child {width: 100%; display: flex; flex-flow: row wrap; height: 160px; margin-bottom: 30px;}

.bag-item .img-box{width: 20%; height: 100%; display: flex; justify-content: flex-start; align-items: center;}
.bag-item .img-box img{width: auto; height: 100%; object-fit: cover;}

.bag-item .info{width: 60%; height: 100%;}
.bag-item .info .item-name {font-size: 13px; font-weight: bold; margin-bottom: 5px; cursor: pointer; display: inline-block;}
.bag-item .info .item-name:hover {color: rgba(0, 0, 0, 0.5);}
.bag-item .info .sale-info {font-size: 12px; margin-bottom: 5px;}
.bag-item .info .item-info {font-size: 12px; }
.bag-item .info .qty-text {font-size: 12px; }

.bag-item .price-info{width: 20%; height: 100%; font-size: 12px; }
.bag-item .price-info .item-remove {cursor: pointer;}

.shipping {width: 100%; height:fit-content; position: relative; border-top: 0px; box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.05); padding: 0 5%;}
.shipping .shipping-info {width: 110%; height: 20px; position: absolute; background-color: #000; left: 50%; transform: translateX(-50%); color: #fff; text-align: center; display: none;}
.shipping .cart-limit-info {padding-top: 20px; text-align: center; font-size: 12px;}
.shipping .subtotal {width: 100%; display: flex; justify-content: space-between;}
.shipping .subtotal p {font-size: 13px; font-weight: bold;}

.shipping .package-protection-box {width: 60%; margin: 20px auto 40px auto; display: flex; justify-content: center;}
.shipping .package-protection-icon {width: fit-content; margin-right: 10px;}
.shipping .package-protection-paragraph {width: 60%;}
.shipping .package-protection-paragraph p:first-child {font-size: 14px; font-weight: bold; margin-bottom: 5px;}
.shipping .package-protection-paragraph p:last-child {font-size: 10px; font-weight: normal;}
.shipping .package-protection-check {width: 20%; display: flex; flex-flow: column; align-items: flex-end; justify-content: center;}
.shipping .package-protection-check  p {font-size: 11px; margin-top: 3px;}

.shipping .checkout {width: 100%; height: 40px; background-color: #000; margin-bottom: 20px; border: 1px solid #000; transition: background-color .5s;}
.shipping .checkout:hover {background-color: #fff;  transition: background-color .5s;}
.shipping .checkout a {width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; cursor: pointer;}
.shipping .checkout p {color: #fff; font-size: 12px; font-weight: bold; font-family: 'OPTIMA', serif; transition: color .5s;}
.shipping .checkout:hover p {color: #000; transition: color .5s;}
.shipping .continue-shipping {width: 100%; height: 40px; background-color: #000;border: 1px solid #000; transition: background-color .5s;}
.shipping .continue-shipping:hover {background-color: #fff; color: #000; transition: background-color .5s;} 
.shipping .continue-shipping a {width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; cursor: pointer; }
.shipping .continue-shipping p {color: #fff; text-align: center; font-size: 12px; font-weight: bold; font-family: 'OPTIMA', serif; transition: color .5s;}
.shipping .continue-shipping:hover p {color: #000; transition: color .5s;}

/* switch */

#switch[type=checkbox] {height: 0; width: 0; visibility: hidden;}
.switch{cursor: pointer; text-indent: -9999px; width: 36px; height: 18px; background: grey; display: block; border-radius: 100px; position: relative; }
.switch:after {content: ''; position: absolute; top: 50%; transform: translateY(-50%); left: 2.5px; width:12px; height:12px; background: #fff; border-radius: 90px; transition: 0.3s;}
input:checked + .switch {background: #45a5ff;}
input:checked + .switch:after { left: calc(100% - 2.5px); transform: translateY(-50%) translateX(-100%);}