@charset "utf-8";

/* contact section */

.bottom-menu {width: 100%; padding: 5rem 3% 3rem 3%; display: flex; flex-flow: row wrap; justify-content: space-between;}
.contact-box {width: 300px;}
.contact {width: 100%; padding-top: 2rem;}
.contact .join {font-family: sans-serif; font-size: 1.2rem; font-weight: 100; margin-bottom: 20px;}
.contact .email {border: 0px; border-bottom: 1px solid black; border-radius: 0; width: 30vw; height: 25px; font-size: 2.5vh; font-family: sans-serif; color: black;}
.contact .email::placeholder {color: black; font-family: sans-serif;  font-size: 1rem;}

/* footer section */

.footer-section {width: 400px;}
.footer {width: 100%; display: flex; flex-flow: row nowrap; justify-content: space-between;}
.footer p {font-family: sans-serif; font-size: .5rem; padding-top: 5rem;}

/* top */
.top {display: none; width: 40px; height: 40px; border: 0.5px solid #fff; background: #fff; border-radius: 50%; position: fixed; bottom: 12vh; right: 2vh; text-align: center; font-size: 25px; line-height: 32px; z-index: 999999; text-indent: 2px; font-weight: lighter; font-family: arial;}



@media screen and (max-width: 1366px) {
    /* nav영역 */
    .nav-top {height: 70px;}
    .nav-top .gnb > ul > li {font-size: 8px; height: 40px;}
    .nav-top .nav-gnb1_extand {top: 70px;}
    .nav-top .nav-gnb3_extand {top: 70px;}
    .nav-top .nav-gnb4_extand {top: 70px;}

    /* 갤러리영역 */
    .gallery .gallery-img-02::before {line-height: 900px; font-size: 4vw;} 
}

@media screen and (max-width: 963px) {


    /* bottom 영역 */

    .bottom-menu {padding-bottom: 5rem; display: block;}
    .contact-section {display: block; margin: 0; width: 100%; padding: 0 0.75rem;}
    .contact {padding: 0; margin: 0; display: block; width: 100%;}
    .contact h4 {font-size: .9rem}
    .contact .email {width: 40vw; font-size: 1.5vh;}
    .contact .email::placeholder {font-size: .3rem;}
    .footer-section {display: block; margin: 0; width: 100%; padding: 2rem 0.75rem 2rem .75rem;}
    .footer {width: 100%; display: flex; justify-content: space-between;}
    .footer p {margin: 0; padding: 0;}

}

@media screen and (max-width: 767px) { 

    /* footer 영역 */
    
    .contact h4 {font-size: 1.5rem}
    .contact .email {width: 100%; height: 30px; font-size: 1.7vh;}
    .contact .email::placeholder {font-size: 1.7vh;}
    .footer {flex-flow: column wrap;}
    .footer p{ width: 100%; margin-bottom: 35px; font-size: 2.5vw; font-weight: 100;}

    .top {display:inline;}
}
