/* nav영역 */

.nav-container {width: 100%;}
.nav-top-sticky {position: fixed; width: 100%; top: 0; z-index: 30; display: block; height: 60px;}
.nav-top {width: 100%; height: 100%; position: absolute; top: 0; display: flex; flex-flow: row wrap; justify-content: space-between; z-index: 60; padding: 0 2.5%; transition: background-color .3s; color: #000;}

.nav-top.main {color: #fff;}
.nav-top.nav-bg {background-color: #fff; transition: background-color .3s; color: #000;}

.nav-top  li, .nav-top p {font-family: 'Gobold Thin';} 
.nav-top .gnb { width: fit-content; margin-top: 2px; height: 100%; min-width: 300px;}
.nav-top .L-gnb > ul {display: flex; justify-content: flex-start; height: 100%;}
.nav-top .R-gnb > ul {display: flex; justify-content: flex-end; height: 100%;}
.nav-top .L-gnb > ul > li {margin-right: 40px;}
.nav-top .R-gnb > ul > li {margin-left: 40px;}
.nav-top .gnb > ul > li {font-size: 12px; height: 100%; display: flex; align-items: center; width: fit-content;}
.nav-top .title {font-size: 1.2rem; letter-spacing: .2rem; height: 100%; display: flex; align-items: center; font-family: var(--gobold-thin-font);}
.nav-top .gnb4 {cursor: pointer;}
.nav-top .gnb6 {cursor: pointer;}

/* nav 기능 */
.nav-top:hover {background-color: #fff; transition: background-color .3s;}
.nav-top:hover .gnb {color: black;}
.nav-top:hover .title {color: black;}

.nav-top .gnb1:hover .fog {border-bottom: 1px solid black;}
.nav-top .gnb2:hover .ath {border-bottom: 1px solid black;}
.nav-top .gnb3:hover .esn {border-bottom: 1px solid black;}
.nav-top .gnb4:hover p {border-bottom: 1px solid black;}
.nav-top .gnb5:hover a {border-bottom: 1px solid black;}
.nav-top .gnb6:hover p {border-bottom: 1px solid black;}
.nav-top .gnb7:hover a {border-bottom: 1px solid black;}
/* 아이콘 */

.react-i {display: none;}
.material-symbols-outlined {font-variation-settings:'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48; position: absolute; top: 3vh; color: #000; transform: scale(0.7);}
.person {left: 3vw;}
.local_mall {right: 3vw;}
.search {right: 8vw; cursor: pointer;}

.searchExtend {display: flex; width: 100%; height: 130px; position: absolute; top: 0%; background-color: #fff; left: 0; z-index: -1; align-items: center;}
.searchExtend.on {display: flex; top: 100%; transition: top .3s;}
.searchExtend.off {display: flex; top: -500%; transition: top .3s;}

.searchExtend.on #nav-search {border: 0px; border-bottom: 1px solid black; border-radius: 0; position: absolute; right: 5vw; font-size: 2.5vh; font-family: 'Gobold',serif; color: black;}
.searchExtend.on #nav-search::placeholder {color: black; font-family: 'Gobold',serif; font-size: 1rem;}

/* ----------------- bottom nav -------------------- */

.nav-bottom-sticky {position: fixed; width: 100%; top: 93vh; z-index: 30; display: none;}
.nav-bottom {width: 100%; height: 7vh; position: absolute; top: 0; display: flex; flex-flow: row wrap; justify-content: space-between; padding: 17px .75rem 0 .75rem; background: rgba(163, 163, 163, 0.8); z-index: 99999; backdrop-filter: blur(10px);}
.nav-bottom li, .nav-bottom p {font-family: 'Gobold Thin';} 
.nav-bottom .gnb { width: 100%; margin-top: 2px; color: rgb(255, 255, 255);}
.nav-bottom .gnb > ul {width: 100%; display: flex; justify-content: space-between;} 
.nav-bottom .gnb > ul > li {height: auto; font-size: 12px;}
.nav-bottom .gnb ul li {margin-right: 5px;}
.nav-bottom .gnb1 a {width: 60px;}
.nav-bottom .gnb2 a {width: 40px;}
.nav-bottom .gnb3 a {width: 40px;}
.nav-bottom .gnb4 a {width: 40px;}
.nav-bottom .gnb5 a {width: 40px;}
.nav-bottom .gnb6 a {width: 40px;}

@media screen and (max-width: 1366px) {
    /* nav영역 */
    .nav-top {height: 70px;}
    .nav-top .gnb > ul > li {font-size: 8px; height: 40px;}
}

@media screen and (max-width: 930px) {

    /* 헤더 영역 */
    /* nav 영역 */

    .nav-top-sticky .L-gnb, .nav-top-sticky .R-gnb {display: none;}
    .nav-bottom-sticky {display: block;}
    .nav-top {justify-content: center; height: 70px;}
    .nav-top .title {font-size: 1.7rem;}

    /* 아이콘 */

    .react-i {display: block;}
    .material-symbols-outlined {top: 30px;}

}

@media screen and (max-width: 767px) { 

    /* 아이콘 영역 */

    .material-symbols-outlined {margin-top: 0px; }

    /* nav 영역 */

    .nav-top {width: 100%; height: 70px;}
    .nav-top .title {font-size: 1.7rem; line-height: 5vh;}
    .nav-bottom-sticky {top: 90vh;}
    .nav-bottom {height: 10vh;}
    .nav-bottom .gnb > ul {margin-top: 2vh;}
}
