
.filter-section {width: 100%; height: fit-content; padding: 3.5% 3% 0 3%; display: flex; align-items: flex-end; justify-content: space-between;  margin-top: 60px;}

/* items */

.shop-container .items {width: 100%; margin-top: 2%; padding: 0 3%; height: fit-content; display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; }
.item {width: 100%; margin-bottom: 30px; padding-right: 6%; }
.item:nth-of-type(4n) {padding-right: 0;}
.item .img-box {width: 100%; height: 80%; cursor: pointer;}
.item .img-box img {width: 80%; height: 100%; object-fit: contain; cursor: pointer;}

.item .paragraph-box {cursor: pointer; margin-top: 10%;}
.item .paragraph-box .brand {margin-top: 2%;}
.item .paragraph-box .cloth {margin-top: 5px;}
.item .paragraph-box .price {margin-top: 10px; font-size: 12px;}

/* page */

.page {width: 100%; display: flex; justify-content: center; align-items: center;}
.page span {width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; border: 1px solid #000; border-radius: 50%; margin: 0 20px; cursor: pointer;}
.page p {margin-right: 30px; cursor: pointer; font-size: 12px;}
.page p:last-of-type {margin-right: 0;}

